<div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Categorias</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            {% for i in categorias %}
            <li>
                <a href="{% url 'prodxcat' i.id%}">
                    <span class="section-sb-label">{{i.nombre}} 
                        <span class="count">{{i.productos_set.all.count}}</span>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>