{% load static %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
                <a href="index.html" class="f-logo">
                    <img src="" alt="">
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, recusandae aperiam. Amet minus, ea magni, aliquid quae autem tenetur tempora perferendis, nisi veniam iure quos ex dignissimos. Saepe, quos animi!</p>
                <button class="btn callback">Contacto</button>
            </div>
        </div>
    </div>